spring:
  application:
    name: url-shortener
  data:
    mongodb:
      uri: ${MONGODB_URI}
      database: url_shortener
    redis:
      url: ${REDIS_URL}
  security:
    oauth2:
      client:
        registration:
          github:
            client-id: ${GITHUB_CLIENT_ID}
            client-secret: ${GITHUB_CLIENT_SECRET}
            scope: read:user,user:email
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope: openid,profile,email

jwt:
  secret: ${JWT_SECRET}
  expiration-ms: 86400000
